html{
    font-size: 10px;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

footer{
    display: flex;
    width: 70vw;
    height: 30vh;
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
}

.social-medias-box{
    display: flex;
    gap: 10rem;
    font-size: 2rem;
    font-family: "Geist Mono", monospace;
}

footer span{
    font-size: 1.8rem;
    font-family: "Geist Mono", monospace;
}